<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Archivos</title>
    <link rel="stylesheet" href="externo/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="css/keyframmes.css">
    <link rel="stylesheet" href="css/banner.css">
    <link rel="stylesheet" href="css/style.css">

    <%- include("partials/head") %>

</head>

<body>
    <section>
        <%- include("partials/navigation") %>
            <div class="cont_banner">
                <div class="sombra">
                    <h1>Gestión de archivos</h1>
                    <p>Este espacio es para que pueda descargar el formato permitido para la carga de sus datos</p>
                    <div class="cont_banner_link">
                        <button class="banner_link" onclick="location.href='#'">Descargar Formato</button>
                        <button class="banner_link1" onclick="location.href='/carga'">Subir Archivo</button>
                        <button class="banner_link2" onclick="location.href='/carga'">Visualizar como
                            Invitado</button>
                    </div>
                </div>
                <button class="cont_banner_link1" onclick="location.href='/login'">Cerrar sesión</button>

            </div>

    </section>

    <script src="externo/bootstrap/js/jquery.js"></script>
    <script src="externo/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/index.js"></script>

    <%- include("partials/footer") %>
</body>

</html>