<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ext/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/banContactos.css">

    <title>Equipo</title>
    <%- include("partials/head") %>

</head>

<body>
    <%- include("partials/navigation") %>

        <section>
            <dvi class="container">
                <div class="row cont_sec_1 text-center">
                    <div class="col-md-6">
                        <h1><b>Contactanos</b></h1>
                        <br>
                        <hr />
                        <br>
                        <p>"Bienvenido a nuestra sección de contactos, estamos encantados de poder atender cualquier
                            pregunta, sugerencia o comentario que tenga. Nuestro objetivo es brindarle el mejor servicio
                            posible, por lo que cualquier retroalimentación es muy valiosa para nosotros.
                            Aquí podrás encontrar toda la información necesaria para ponernos en contacto contigo, ya
                            sea a través de nuestro correo electrónico,
                            correo o redes sociales. Si tienes alguna pregunta o sugerencia, no dudes en escribirnos y
                            estaremos encantados de ayudarte. ¡Esperamos escucharte pronto!"</p>
                        <p>Conoce a los expertos detrás de la creación de tu sitio web. Nuestro equipo de desarrollo
                            web y programación está compuesto por profesionales altamente capacitados y con años de
                            experiencia en el campo. Juntos, hemos creado soluciones digitales innovadoras para nuestros
                            clientes y estamos listos para hacer lo mismo por ti.</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <h1><b>¿Cómo llegar?</b></h1>
                        <br>
                        <hr />
                        <br>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3980.1198667319954!2d-79.2041622852402!3d-3.9957685970940675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cb480045a77829%3A0xaf34a332dda96844!2sMunicipio%20de%20Loja!5e0!3m2!1ses!2sec!4v1674886608685!5m2!1ses!2sec"
                            width="400" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </dvi>
        </section>
        <section>
            <div class="cont_banner_sec_3">
                <div class="container">
                    <div class="row cont_fondo">
                        <h1>Contactos</h1>
                        <hr />
                        <div class="col-md-4 cont_img1 center-img text-center">
                            <img class="lily" src="../img/lily.jpg" alt="">
                            <h1>Lilibeth Puchaicela</h1>
                            <p>Desarrollador</p>
                            <hr />
                        </div>
                        <div class="col-md-4 cont_img1 center-img text-center">
                            <img class="nixon" src="../img/nixon.jpg" alt="">
                            <h1>Nixon Vuele</h1>
                            <p>Desarrollador</p>
                            <hr />
                        </div>
                        <div class="col-md-4 cont_img2 center-img text-center">
                            <img class="jhoel" src="../img/jhoel.jpg" alt="">
                            <h1>Jhoel Ordoñez</h1>
                            <p>Desarrollador Web</p>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
<br><br>

<br><br>
        </section>



        <%- include("partials/footer") %>
            <script src="ext/bootstrap/js/jquery.js"></script>
            <script src="ext/bootstrap/js/bootstrap.min.js"></script>
            <script src="ext/aos.js"> </script>
            <script src="js/index.js"></script>
</body>

</html>