<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PaginaPrincipal</title>
    <link rel="stylesheet" href="/css/styleEquipo.css">
    <%- include("partials/head") %>

</head>
<body>
    <%- include("partials/navigation") %>
    <div class="contenedor">
        
        <section class="sliderPrincipal">
            <div class="cuadro">
                <h1>MUNICIPIO DE LOJA </h1>
            </div>
            <img src="/img/slider1Muni.png" >      
        </section>
        <section class="titulo">
            <h2>CONTACTOS</h2>
        </section>
        <section class="centro">
            <div class="col">
                <img src="../img/Jhoel.PNG" alt="">
                <div class="cuadro3">
                    <p>Ing. Jhoel Ordoñez </p>
                    <p>Diseñador Web</p>
                    <button>Correo</button>
                </div>
            </div>
        </section>
        <br>
        <section class="centro">
            <div class="col">
                <img src="../img/Nixon.PNG" alt="">
                <div class="cuadro3">
                    <p>Ing. Nixon Vuele</p>
                    <p>Programador</p>
                    <button>Correo</button>
                </div>
            </div>
        </section>
        <br>
        <section class="centro">
            <div class="col">
                <img src="../img/Lily.PNG" alt="">
                <div class="cuadro3">
                    <p>Ing. Lady Puchaicela </p>
                    <p>Base de datos</p>
                    <button>Correo</button>
                </div>
            </div>
        </section>
        <br>
    </div>
    <%- include("partials/footer") %>
</body>
</html>