<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PaginaPrincipal</title>
    <link rel="stylesheet" href="/css/styleEquipo.css">
</head>
<body>
    <div class="contenedor">
        <header class="cabeceraPrincipal">
            <section class="logotipo"><img src="../img/escudo-loja.png"></section>
            <nav class="menuPrincipal">
                <a href="#">Inicio</a>
                <a href="#">Instrucciones</a>
                <a href="#">Calculador</a>
                <a href="#">Contactos</a>
            </nav>
        </header>
        <section class="sliderPrincipal">
            <div class="cuadro">
                <h1>MUNICIPIO DE LOJA </h1>
            </div>
            <img src="../img/LogoMun.png" >      
        </section>
        <section class="titulo">
            <h2>EQUIPO</h2>
        </section>
        <section class="centro">
            <div class="col">
                <img src="../img/logoU.png" alt="">
                <h3>Universidad Técnica Particular de Loja</h3>
                <div class="cuadro2">
                    <p>Dirección: San Cayetano Alto - Loja</p>
                    <p>Teléfono: 1800 88 75 88</p>
                    <p>WhatsApp: 099 956 5400</p>
                    <p>PBX: 07 370 1444</p>
                </div>
            </div>
        </section>
        <section class="centro">
            <div class="col">
                <img src="../img/logoMunLoja.jpg" alt="">
                <h3>Municipio de Loja</h3>
                <div class="cuadro2">
                    <p>Dirección: Bolivar y José Antonio Eguiguren</p>
                    <p>Teléfono: (593) 72570407</p>
                    <p>Fax: (593) 72570492</p>
                    <p>Email: info[arroba]loja.gob.ec</p>
                    <p>Casilla postal: 11-01-1028</p>
                </div>
            </div>
        </section>
        <section class="centro">
            <div class="col">
                <img src="../img/DepEc.png" alt="">
                <h3>Departamento de Economía UTPL</h3>
                <div class="cuadro2">
                    <p>Dirección: San Cayetano Alto - Loja</p>
                    <p>Departamento De Economía</p>
                    <p>dbbravo@utpl.edu.ec</p>
                    <p>Extención: 2558</p>
                </div>
            </div>
        </section>
        <br>
        <h2 class="t1">INSTRUCCIONES DE REFERENCIA PARA DATOS Y ESTADÍSTICAS</h2>
        <div class="refe">
            <img src="../img/inec.png" alt="" style="margin-right: 50px;">
            <img src="../img/ame.png" alt="">
            <img src="../img/bde.png" alt="" style="margin-left: 50px;">
        </div>
    </div>
</body>
</html>