<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PaginaPrincipal</title>
    <link rel="stylesheet" href="css/stylePag.css">
    <%- include("partials/head") %>

</head>
<body>
    <%- include("partials/navigation") %>
    <div class="contenedor">
        <section class="sliderPrincipal">
            <div class="cuadro">
                <h1>MUNICIPIO DE LOJA </h1>
            </div>
            <img src="/img/slider1Muni.png" >      
        </section>
        <section class="titulo">
            <h2>Municipios</h2>
        </section>
        <br>
        <div class="introduccion">
            <h3>Introduccion</h3>
            <p >Bienvenido a la plataforma de evaluación en línea de la gestión ambiental de los municipios del 
                Ecuador. Estamos orgullosos de presentarle esta herramienta innovadora que le permitirá evaluar la gestión 
                ambiental de todos los municipios del Ecuador de manera fácil y eficiente.</p>
            <p>La plataforma ha sido desarrollada con el objetivo de proporcionar una evaluación sistemática y objetiva de la 
                gestión ambiental de los municipios. Para ello, se ha creado un índice sistémico que involucra los aspectos 
                ambientales, económicos, sociales e institucionales. Este índice se basa en un conjunto de indicadores 
                específicos que proporcionan una línea base sobre el estado actual de los gobiernos seccionales. Con esta 
                información, se pueden evaluar las alternativas de decisión pública y tomar decisiones informadas para mejorar 
                la gestión ambiental en los municipios.</p>
            <p>La plataforma cuenta con una variedad de indicadores que abarcan desde el manejo de residuos y conservación de la 
                biodiversidad, hasta la educación ambiental y el uso sostenible de los recursos naturales. Además, se ofrece 
                información sobre el desempeño ambiental de los municipios a lo largo del tiempo, permitiendo comparaciones entre 
                diferentes años y entre diferentes municipios.</p>
            <p>La plataforma cuenta con una variedad de indicadores que abarcan desde el manejo de residuos y conservación de la 
                biodiversidad, hasta la educación ambiental y el uso sostenible de los recursos naturales. Además, se ofrece 
                información sobre el desempeño ambiental de los municipios a lo largo del tiempo, permitiendo comparaciones entre 
                diferentes años y entre diferentes municipios.</p>
        </div>
        <br>
        <h2 class="centro">ASPECTOS DE LOS GADS MUNICIPALES</h2>
        <h2 class="centro2">Gestiones de los Gads municipales</h2>
        <p class="centro2">Una visión general de la acción de cada aspectos</p>
        <table >
            <tr>
              <th class="color">Aspectos</th>
              <th colspan="3" class="color">Variables Totales</th>
            </tr>
            <tr class="table table-bordered-all">
              <td>Económico</td>
              <td>Por cobro de residuos residencial e industrial </td>
              <td>De ingresos recibidos </td>
              <td>Para protección ambiental </td>
            </tr>
            <tr class="table table-bordered-all">
              <td>Social</td>
              <td>Porcentaje recolección parroquias Urbanas</td>
              <td>Porcentaje recolección parroquias rurales</td>
              <td>Hectáreas del área urbana del municipio</td>
            </tr>
            <tr class="table table-bordered-all">
                <td>Ambiental</td>
                <td>Total de residuos peligrosos en toneladas</td>
                <td>Total de residuos orgánicos en toneladas</td>
                <td>Total de residuos inorgánicos toneladas</td>
            </tr>
            <tr class="table table-bordered-all">
                <td>Institucional</td>
                <td>Gasto de combustible Diesel </td>
                <td>Gasto de combustible Extra </td>
                <td>Gasto de combustible Super</td>  
            </tr>
          </table>
          <br>
          <h2 class="centro">VER ÍNDICE DE GASTOS</h2>
          <section class="municipios">
            <h3>Seleccione</h3>
            <select name="selectMuni" id="municipios">
                <option value="opcion1">Loja</option>
                <option value="opcion2">Catamayo</option>
            </select>
            <select name="selectAño" id="años">
                <option value="optionA1">2019</option>
                <option value="optionA2">2020</option>
            </select>
            <button onclick="location.href='/calculadora'" >IR A INDICADORES</button>
            </section>
            <br>
          <p class="centro2">Visualiza los gastos en cada gestión y descubre donde van tus impuestos</p>
          <div class="container">
            <div class="k">
                <img src="../img/SliderMoney.png" alt="Imagen 1">
                <div class="col-1">

                    <h3>Gastos Municipales globales</h3>
                    <p>Calcule los gastos de todos los sectores</p>
                    <br>
                    <button class="boton2"onclick="location.href='/calculadora'" >Empezar el cálculo</button>
                </div>

            </div>
            <div class="k2">
                <img src="../img/SliderDerecha.png" alt="Imagen 2">
                <div class="col-2">
                    <h3>Gestiones Municipales </h3>
                    <p>Calcule los gastos de un sector especifico</p>
                    <br>
                    <button class="boton2" onclick="location.href='/calculadoraVariables'">Calcular Gastos</button>
                </div>

            </div>
            
          </div>
          <br>
    </div>
    <%- include("partials/footer") %>
</body>
</html>