<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="externo/bootstrap/css/bootstrap-grid.min.css">

    <!-- BOOTSTRAP 5 CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <!-- ANIMATE.CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="/css/styleLogin.css" />

</head>

<body>
    <section>
        <div class="container">
            <div class="form-group">
                <form id="form-group" action="/login" method="post">
                    <H1>Administrador</H1>
                    <input class="email" type="text" name="email" id="email" class="form-control" placeholder="Email"
                        required>
                    <br><br><br>
                    <input class="password" type="password" name="password" id="password" class="form-control1"
                        placeholder="Contrase単a" required>
                    <br><br>
                    <a class="regreso" href="/recuperarContrasena">多Ha olvidado su nombre de ususario o contrase単a?</a>
                    <br><br>
                    <button type="submit" id="boton" class="boton">Iniciar Sesion</button>
                </form>
                <div class="form-group2">
                    <h5>多Eres nuevo?</h5>
                    <button class="my-button" onclick="location.href='/registro'">Registrate</button>
                </div>
            </div>
        </div>
    </section>
    <script src="externo/bootstrap/js/jquery.js"></script>
    <script src="externo/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/index.js"></script>
</body>

</html>