<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Control</title>
    <link rel="stylesheet" href="css/inicioAdmin.css">
    <%- include("partials/head") %>

</head>

<body>
    <%- include("partials/navigation") %>
        <div class="container">
            <div class="box">
                <h1 class="titul">Panel de control</h1>
            </div>

            <div class="row">
                <section class="fond2">

                    <div class="col1">
                        <div class="tit1">
                            <h5>Selecciona el municipio</h5>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="option1" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Loja
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="option2" id="flexCheckDefault1">
                            <label class="form-check-label" for="flexCheckDefault1">
                                Catamayo
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="option3" id="flexCheckDefault2">
                            <label class="form-check-label" for="flexCheckDefault2">
                                Cariamanga
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="option4" id="flexCheckDefault3">
                            <label class="form-check-label" for="flexCheckDefault3">
                                Amaluza
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="option5" id="flexCheckDefault4">
                            <label class="form-check-label" for="flexCheckDefault4">
                                El oro
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="option6" id="flexCheckDefault5">
                            <label class="form-check-label" for="flexCheckDefault5">
                                Catamayo
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="option7" id="flexCheckDefault6">
                            <label class="form-check-label" for="flexCheckDefault6">
                                Manabí
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="option8" id="flexCheckDefault7">
                            <label class="form-check-label" for="flexCheckDefault7">
                                Malacatos
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="option9" id="flexCheckDefault8">
                            <label class="form-check-label" for="flexCheckDefault8">
                                Vilcabamba
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="option10" id="flexCheckDefault9">
                            <label class="form-check-label" for="flexCheckDefault9">
                                Puyango
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="option11" id="flexCheckDefault10">
                            <label class="form-check-label" for="flexCheckDefault10">
                                Celica
                            </label>
                        </div>
                    </div>

                    <div class="col2">
                        <div class="tit2">
                            <h5>Selecciona el indicador</h5>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Económico
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Social
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Institucional
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Ambiental
                            </label>
                        </div>

                    </div>

                    <div class="col3">
                        <div class="tit3">
                            <h5>Selecciona la variable</h5>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Presupuesto anual de plan de sensibilización
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Monto recaudado por cobro de recolección de residuos residencial
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Ingresos de recursos de preasignaciones de valor
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Cantidad de autos que tiene el municipio
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Número de empleados de la institución
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Gasto en gasolina para autos de la empresa
                            </label>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <button class="btn1">Modificar</button>
                </div>
                <div class="col-sm-4">
                    <button class="btn1">Eliminar</button>
                </div>
                <div class="col-sm-4">
                    <button class="btn1" onclick="location.href='/carga'">Cargar archivo</button>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
            <button class="btn2" onclick="location.href='./'">Cerrar sesión</button>
        </div>
    <%- include("partials/footer") %>
</body>

</html>