<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ext/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/banVariables.css">
    <title>Variables Sociales</title>
    <%- include("partials/head") %>
</head>

<body>
    <%- include("partials/navigation") %>
        <section>
            <div class="cont_banner">
                <div class="sombra">
                    <h1>Variables Sociales</h1>
                    <hr />
                    <p>Estadística de información ambiental económica en gobiernos autónomos descentralizados
                        municipales</p>
                </div>
            </div>
        </section>
        <hr />

        <section>
            <div class="container">
                <br>
                <h1 class="tituloIndicador text-center">Seleccionar Variables</h1>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-custom1">
                            <div class="card-body">
                                <div class="custom-box1">
                                    <h5 class="card-title1 m-3"
                                        style="padding-top: 1rem;font-weight:bolder; text-align: center;">
                                        Variables de Indicador Social</h5>
                                    <div class="form-check form-switch">
                                        <input style="float:right;" class="form-check-input" type="checkbox"
                                            role="switch" id="flexSwitchCheckChecked" checked>
                                        <label class="form-check-label" for="flexSwitchCheckChecked">Vehiculos
                                            recolectores</label>
                                    </div>

                                    <div class="form-check form-switch">
                                        <input style="float:right;" class="form-check-input" type="checkbox"
                                            role="switch" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Capacidad ton. de
                                            recolectores
                                        </label>
                                    </div>

                                    <div class="form-check form-switch">
                                        <input style="float:right;" class="form-check-input" type="checkbox"
                                            role="switch" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Cobertura servicio
                                            de barrido
                                        </label>
                                    </div>

                                    <div class="form-check form-switch">
                                        <input style="float:right;" class="form-check-input" type="checkbox"
                                            role="switch" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Cobertura km
                                            servicio de barrido </label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input style="float:right;" class="form-check-input" type="checkbox"
                                            role="switch" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Porcentaje barrido
                                            urbano
                                        </label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input style="float:right;" class="form-check-input" type="checkbox"
                                            role="switch" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Porcentaje barrido
                                            rural
                                        </label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input style="float:right;" class="form-check-input" type="checkbox"
                                            role="switch" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Porcentaje residuos
                                            infecciosos
                                        </label>
                                    </div>
                                       <div class="form-check form-switch">
                                        <input style="float:right;" class="form-check-input" type="checkbox"
                                            role="switch" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Proyecto fuentes de
                                            agua
                                        </label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input style="float:right;" class="form-check-input" type="checkbox"
                                            role="switch" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Abastecimiento agua horas
                                        </label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input style="float:right;" class="form-check-input" type="checkbox"
                                            role="switch" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Área de
                                            construcción

                                        </label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input style="float:right;" class="form-check-input" type="checkbox"
                                            role="switch" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Área verde parques
                                        </label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input style="float:right;" class="form-check-input" type="checkbox"
                                            role="switch" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Área verde plazas
                                        </label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input style="float:right;" class="form-check-input" type="checkbox"
                                            role="switch" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Área verde jardines
                                        </label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input style="float:right;" class="form-check-input" type="checkbox"
                                            role="switch" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Área verde parterres
                                        </label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input style="float:right;" class="form-check-input" type="checkbox"
                                            role="switch" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Área verde riberas
                                        </label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input style="float:right;" class="form-check-input" type="checkbox"
                                            role="switch" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Área verde estadios
                                        </label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input style="float:right;" class="form-check-input" type="checkbox"
                                            role="switch" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Área verde canchas deportivas
                                        </label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input style="float:right;" class="form-check-input" type="checkbox"
                                            role="switch" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Otras áreas verdes
                                        </label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input style="float:right;" class="form-check-input" type="checkbox"
                                            role="switch" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Total área urbana municipio
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button
                                    style=" background: linear-gradient(180deg, rgba(169, 226, 6, 0.9) 0%, rgba(99, 172, 27, 0.8) 97.4%);
                        border-radius: 20px; border-color: black; margin-bottom: 3rem;margin-top: 3rem; font-weight: 500px;"
                                    class="btn btn-primary " type="button">Calcular</button>
                            </div>

                            <div class="text-center">
                                <img style="width: 85%;margin-bottom: 2rem;" class="img-fluid" src="/img/calcu.png"
                                    alt="Grafica Radial">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card1 card-custom">
                            <div class="card-body">
                                <div class="custom-box2" style="display: flex; justify-content: center;"></div>
                                <h5 class="card-title2 m-3" style="padding-top: 1rem;font-weight:bolder;">
                                    Aclaraciones</h5>
                                <p class="diccionario text-align:justify " style="margin: 2rem;">
                                    Número de vehiculos recolectores<br><br>
                            Capacidad en ton. de los vehiculos recolectores<br><br>
                            Que cobertura en porcentaje cubre servicio de barrido<br><br>
                            Que cobertura en km cubre servicio de barrido<br><br>
                            porcentaje que cubre servicio de barrido en parroquias Urbanas<br><br>
                            porcentaje cubre servicio de barrido en parroquias Rurales<br><br>
                            porcentaje de cobertura de recolección hacia los establecimientos que producen residuos infecciosos<br><br>
                            Proyectos para conservacion de las fuentes de captación de agua.<br><br>
                            Abastecimiento de agua potable. Horas<br><br>
                            Área en m2 que ocupa la institución: Área de constrcción <br><br>
                            Área en m2 de las áreas verdes bajo la administración 2012: Parques <br><br>
                            Área en m2 de las áreas verdes bajo la administración 2012: Plazas <br><br>
                            Área en m2 de las áreas verdes bajo la administración 2012: Jardines <br><br>
                            Área en m2 de las áreas verdes bajo la administración 2012: Parterres <br><br>
                            Área en m2 de las áreas verdes bajo la administración 2012: Riberas <br><br>
                            Área en m2 de las áreas verdes bajo la administración 2012: Estadios <br><br>
                            Área en m2 de las áreas verdes bajo la administración 2012: Canchas deportivas <br><br>
                            Área en m2 de las áreas verdes bajo la administración 2012: Otras áreas verdes urbanas <br><br>
                            Área total en hectáreas del área urbana del municipio<br><br>


                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr />



        <%- include("partials/footer") %>
</body>

</html>