
body {
  background: #F6F6F6
}

.navbar{
  background: linear-gradient(180deg, rgba(169, 226, 6, 0.85) 0%, rgba(99, 172, 27, 0.85) 97.4%);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffff;
}
.slider img{
  width: 100%;
}


.navbar-brand {
  font-family: 'Poopins', sans-serif;
  font-size: 1rem;
}
.navbar-nav {
  color: white;
}
.material-icons {
  color: white;
}

.nav-link {
  text-transform: uppercase;
  font-family: 'Poopins', sans-serif;
  color: white;
  font-weight:600;
}

.card-custom{
  border-color: #F6F6F6;
  background: #F6F6F6;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  background-position: center;
}
.custom-box{
  background-color: rgba(190, 224, 252, 0.800);
  border-radius: 15px;
}


.card-text{
  color: rgb(35, 43, 42);
}

header img {
  width: 100%;
}
header h1{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
header {
  margin-bottom: 3rem;
}

.image-container {
  position: relative;
  display: flex; /* Establece el contenedor como un elemento flex */
  align-items: center; /* Alinea el elemento en el centro del eje Y */
  justify-content: center; /* Alinea el elemento en el centro del eje X */
}

.box {
  text-align: center;
  position: absolute;
  width: 80%; /* Establece un tamaño proporcional al contenedor */
  max-width: 400px; /* Tamaño máximo para la caja */
  min-width: 200px; /* Tamaño mínimo para la caja */

  height: 7rem; /* Tamaño mínimo para la caja */
  justify-content: center;
  display: flex;
  align-items: center;


  background: rgba(194, 159, 83, 0.5);
  opacity: 0.7; /* Establece un fondo transparente */
  word-wrap: break-word; /* Asegura que el texto no se salga de la caja */
  padding: 10px; /* agrega un padding interno */
  margin: 0; /* Elimina el margen predeterminado */
}


img {
  width: 100%; /* Ajusta la imagen al tamaño del contenedor */
  height: 100%; /* Ajusta la imagen al tamaño del contenedor */
  object-fit: cover; /* Asegura que la imagen se ajuste al tamaño del contenedor */
}

.titleText{
  font-family: 'Imprima';
  font-style: normal;
  font-weight: 400;
  font-size: 100%;
  line-height: 29px;
  text-align: center;
  color: #000000;
}

.card-title2{
  font-family: 'Inter';
  font-style: italic;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #7C7A7A;
}

.tituloIndicador{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 641;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */


  color: #7D7474;
  font-variation-settings: 'slnt' 0;
}

.diccionario{
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: justify;

  color: #7C7A7A;
}


@media screen and (min-width: 768px) {
  .box {
      width: 100%; /* Establece un tamaño proporcional al contenedor */
      min-width: 100%; /* Tamaño mínimo para la caja */
  }
  .titleText{
    
  font-family: 'Imprima';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  text-align: center;

  color: #000000;
  }

}

#footer {
  background: linear-gradient(180deg, rgba(169, 226, 6, 0.85) 0%, rgba(99, 172, 27, 0.85) 97.4%);
  height: 80px;
  align-items: center;
}
.social{  display: flex;
  justify-content: flex-start;
  align-items: center;}

.social-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}

.fab{
  color: #000000;
}
.social-text{
  color: #F6F6F6;
}
.cont_footer{
  background: linear-gradient(180deg, rgba(169, 226, 6, 0.9) 0%, rgba(99, 172, 27, 0.8) 97.4%);
  padding: 0%;
  color: #fff;
  font-family: "Poopins" sans-serif;
  margin-top: 100px;
  
  
}

.cont_footer a{
  text-decoration: none;
  display: block;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
}
.cont_footer h6{
  text-decoration: none;
  display: block;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
}
.cont_footer a:hover{
  color: rgba(255, 255, 255, 0.8);

}
.cont_footer p{
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  display: block;
  font-weight: bold;
}
.cont_footer p:hover{
  color: rgba(255, 255, 255, 0.8);

}
.cont_footer h2{
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  display: block;
  font-weight: bold;


}
.cont_img_footer{
  padding: 5%;
}


