.contenedor{
	background-color: #dddddd;
}

.contenedor .cabeceraPrincipal{
	grid-area: header;
	background-color: #A9E206;
	display: flex;
	justify-content: space-between;

}

.contenedor .cabeceraPrincipal nav{
	display: flex;
	align-items: center;
    
}

.contenedor .cabeceraPrincipal nav a{
	text-decoration: none;
	padding: 0 20px;
	color: #65524D;
}

.contenedor .sliderPrincipal{
	grid-area: slider;
    display: flex;
    align-items: center;
    text-align: center;
}

.contenedor .sliderPrincipal .cuadro h1{
	position: absolute;
	color: #fff;
	justify-content: center;
	justify-items: center;
	text-align: center;
	width: 100%;
	font-size: 34px;
}


.contenedor .sliderPrincipal img{
	width: 100%;
}

.contenedor .titulo{
	grid-area: titulo;
	background-color: #c4dc92;
	text-align: center;
	display: grid;
}

.contenedor .municipios{
	display: grid;
	justify-content: center;
	justify-items: center;
	text-align: center;
	width: 100%;

}

.contenedor .municipios h3{
	grid-row: 1;
}

.contenedor .introduccion{
	margin: 0 auto;
	background-color: #fff;
	width: 70%;
	padding: 10px;
	text-align: justify;
}

.contenedor .introduccion h3{
	color: blue;
}

.contenedor .municipios select{
	justify-content: center;
	background-color: #656552;
	color: #fff;
	grid-row: 1;
	margin: 15px;
	text-align: center;
	height: 40px;
	width: 100px;
}

.contenedor .municipios select:focus {
	background-color: rgb(255, 255, 255);
	color: black;
	text-align: left;
	height: 40px;
	width: 100px;
}

.contenedor .municipios button{
	grid-row: 2;
	background-color: #909082;
	color: #fff;
	justify-content: center;
	justify-items: center;
	margin-left: 200%;
	width: 150%;
	height: 150%;
	border-radius: 5px;
}

.contenedor .titulo2{
	grid-area: titulo;
	background-color: #c4dc92;
	display: grid;
	justify-content: space-between;
}

.contenedor .titulo2 p{
	grid-column: 1;
	margin-left: 5rem;
}

.boton{
	grid-column: 2;
	position: relative;
	top: -20px;
	margin-right: 2rem;
	background-color: #488f5f;
	color: #fff;
	border-radius: 5px;
	width: 200px;
}

.boton2{
	grid-column: 2;
	position: relative;
	top: -20px;
	margin-right: 0.5rem;
	background-color: #488f5f;
	color: #fff;
	border-radius: 55px;
	width: 200px;
}

.contenedor .centro{
	display: flex;
	justify-content: center;
	margin-top: auto;
	font-size: 2em; 
	height: 50px;
	background: linear-gradient(180deg, rgba(189, 255, 0, 0) 0%, rgba(189, 255, 0, 0.8) 21.88%, rgba(189, 255, 0, 0.7) 48.96%, rgba(189, 255, 0, 0.8) 73.44%, rgba(189, 255, 0, 0) 100%);
}

.contenedor .centro2{
	display: flex;
	justify-content: center;
	margin-top: auto;
	font-size: 1.5em; 
}

.table-bordered-all {
	border: 3px solid black /* agrega un borde sólido de 1px de ancho y color gris */
  }

table {
	border: 1px solid black;
	margin: 0 auto;
	width: 70%;
	
  }
  th{
	padding:5px;
	font-size: 1.5em;
	border: 1px solid black;
	color: #fff;
  } 
  td {
	padding:5px;
	font-size: 1.5em;
	border: 1px solid black;
	font-size: 19px;
	background-color: #fff;
  }

  .color{
	background-color: #1F754E;
	text-align: center;
  }

 .container{
	display: grid;
	grid-gap: 0px 0px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);

	grid-template-areas: "imagen1 imagen2"
						 "cuadro1 cuadro2";

	width: 50%;
	align-items: center;
 }

 .container .k img{
	grid-area: imagen1;
	border: 1px solid #000000;
	width: 65%;
	margin-left: 110px;
 }

 .container .k2 img{
	grid-area: imagen2;
	border: 1px solid #000000;
	width: 65%;
	margin-left: 100px;
 }

 .container .k .col-1{
	grid-area: cuadro1;
	width: 100%;
	text-align: center;
 }

 .container .k2 .col-2{
	grid-area: cuadro2;
	width: 100%;
	text-align: center;
 }