.contenedor .cabeceraPrincipal{
	grid-area: header;
	background-color: #A9E206;
	display: flex;
	justify-content: space-between;

}

.contenedor .cabeceraPrincipal nav{
	display: flex;
	align-items: center;
    
}

.contenedor .cabeceraPrincipal nav a{
	text-decoration: none;
	padding: 0 20px;
	color: #65524D;
}

.contenedor .sliderPrincipal{
	grid-area: slider;
    display: flex;
    align-items: center;
    text-align: center;
}

.contenedor .sliderPrincipal .cuadro{
	position: absolute;
	color: #fff;
	justify-content: center;
	justify-items: center;
	text-align: center;
	width: 100%;
	font-size: 34px;
}


.contenedor .sliderPrincipal img{
	width: 100%;
}

.contenedor .titulo h2{
	grid-area: titulo;
	text-align: center;
	display: grid;
	align-content: center;
}

.cuadro2{
	grid-area: cuadro;
	background-color: #C29F53;
	align-items: center;
	border-radius: 15px;
}
.cuadro2 p{
	margin-left: 10px;;
}

.contenedor .centro {
	justify-content: center;
}

.contenedor .centro .col{
	display: grid;
	grid-gap: 0px 0px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, auto);

	grid-template-areas: "imagen  titulo titulo titulo"
						 "imagen cuadro cuadro cuadro";

	width: 50%;
	margin-left: 25%;
	align-items: center;
	
}

.contenedor .centro .col h3{
	grid-area: titulo;
	align-items: center;
    text-align: center;
}


.contenedor .centro .col img{
	grid-area: imagen;
	position: relative;
	align-items: center;

}

.contenedor .t1{
	display: flex;
	justify-content: center;
	margin-top: auto;
	font-size: 2em; 
	height: 50px;
	background: linear-gradient(180deg, rgba(189, 255, 0, 0) 0%, rgba(189, 255, 0, 0.8) 21.88%, rgba(189, 255, 0, 0.7) 48.96%, rgba(189, 255, 0, 0.8) 73.44%, rgba(189, 255, 0, 0) 100%);
}

.contenedor .refe{
	display: flex;
	justify-content: center;
}

/* Estilos de contactos */

.cuadro3{
	grid-area: cuadro;
	align-items: center;
	margin-left: 15px;;
	margin-bottom: 30px;
}

.cuadro3 button{
	background-color: #C29F53;
	border-radius: 15px;
	width: 25%;
}


