*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedorRegister{
    background-image: url("../img/fondDash.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vw;
    background-position: center center;
    background-size: cover;
    color: #ffffff;
    font-family: "Poopins" sans-serif;
}


input{
    font-family: "Poopins" sans-serif;
    background-color: #E2E2E2;
    /*background: linear-gradient(180deg, rgba(169, 226, 6, 0.7) 0%, rgba(99, 172, 27, 0.665) 100%);*/
    border: 0;
    margin: 0 0 1px;
    padding: 12px;
    box-sizing: border;
    font-size: 14px;   

}

.form-group label {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    margin-top: 1rem;
    font-weight: bold;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.315);
    font-weight: bold;
}

.form-group{
    margin-top: 14rem;
    font-family: "Poopins" sans-serif;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    width: 700px;
    padding: 50px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 2), 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.form-group h1{

    text-align: center;
}
.cuadro{
    /*background-color: #E2E2E2;*/
    background: linear-gradient(180deg, rgba(169, 226, 6, 0.7) 0%, rgba(99, 172, 27, 0.665) 100%);
    color: black;
    width: 100%;
    margin: 0 0 1px;
    padding: 12px;
    font-size: 16px;  
    font-family: "Poopins" sans-serif;
    text-align: center;
    border: 1px solid #000000;
    text-transform: uppercase;

}
.terminos h3{
    font-size: 13px;  
    font-family: "Poopins" sans-serif;
    margin-bottom: 1rem; 
    
}

.terminos p{
    font-size: 12px;  
    font-family: "Poopins" sans-serif;
    margin-bottom: 1rem; 
}

.form-group .boton{
    background: linear-gradient(180deg, rgba(169, 226, 6, 0.7) 0%, rgba(99, 172, 27, 0.665) 100%);
    text-transform: uppercase;
    font-family: "Poopins" sans-serif;
    border: 1px solid black;
    padding: 10px 20px;
    color: black;
    font-size: 13px;
    cursor: pointer;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-bottom: 1rem;
}


.regreso{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-decoration: none;
    text-align: center;
}
