<footer class="footer  text-center">
  <div class="cont_footer ">
    <div class="container">
      <div class="row">
        <div class="col-md-4 content-center">
          <h2>LEGAL</h2>
          <p class="g text-center">Accesibilidad</p>
          <p class="g text-center">Privacidad</p>
        </div>
        <div class="col-md-4">
          <h2>Redes Sociales</h2>
          <a href="https://www.facebook.com/MunicipiodeLoja/">Facebook</a>
          <a href="https://www.instagram.com/municipiodeloja/?hl=es">Instagram</a>
          <a
            href="https://twitter.com/MunicipioDeLoja?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Twitter</a>
          <a href="https://www.youtube.com/@MunicipiodeLojaTV">Youtube</a>
        </div>
        <div class="col-md-4">
          <h2>Otros</h2>
          <a href="/">Inicio</a>
          <a href="#">Mapa wep</a>
        </div>
        <hr />
        <a href="https://www.loja.gob.ec/">
          <p class="g text-center">Visita nuestro sitio municipio de loja 2023</p>
        </a>
      </div>
    </div>
  </div>
</footer>